@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(9, 73, 0);
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

#menu_de_cima{
    list-style: none;
    padding: 0.2vw;
    margin-left: 70vw;
}

#menu_de_cima li{
    display: inline;
}

#menu_de_cima li a{
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 0.8vw;
}

h1{
    font-weight: bold;
    font-size: 50pt;
    font-family: 'Bungee', cursive;
    text-align: center;
}

#apresentacao {
    height: 50vw;
    width: 99vw;
}

#imagem{
    float: left;
}

#sobre_mim div{
    margin-top: 1vw;
    display: inline-block;
}

#formacao{
    background-color: white;
    height: 53.7vw;
    width: 99vw;
}

#logo_unb{
    float: left;
    height: 10vw;
}

#logo_orcestra{
    float: left;
    padding-left: 1vw;
}

#experiencia{
    background-color:black;
    height: 54.5vw;
    width: 99vw;
}

#experiencia h1{
    color: white;
}

#experiencia p{
    color: white;
    font-size: 2vw;
}


#conteudo_experiencia{
    margin-top: 7vw;
}

#contato{
    background-color: red;
    height: 53.2vw;
    width: 99vw;
}

#conteudo_contato{
    margin-left: 15%;
    margin-top: 7%;
    width: 25%;
}