@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300&display=swap');

/*Gerais*/

* {
    margin: 0 auto;
    padding: 0;
    font-weight: bold;
}

body{
    font-family: 'Encode Sans Condensed', sans-serif;
    background: rgb(7, 0, 70);
}

p{
    color: white;
}

h1{
    font-family: 'Bungee', cursive;
    font-size: 50pt;
    font-weight: bold;
    text-align: center;
    padding-top: 1vh;
    color: white;
}

/*-----------------*/

/*Menu de cima*/

#menu_de_cima{
    list-style: none;
    margin-left: 70vw;
    padding: 0.2vw;
    height: 1vh;
}

#menu_de_cima li{
    display: inline; 
}

#menu_de_cima li a{
    color:white;
    display: inline-block;
    text-decoration: none;
    padding: 1vw;
    font-weight: bold;
    font-size: 1vw;
    padding-left: 2vw;
}

/*-----------------*/

/*Primeira seção*/

#sobre_mim{
    background: rgb(7, 0, 70);
    background-position: center;
    height: 100.5vh;
    width: 99vw;
}

#apresentacao h1{
    padding-top: 5vh;
}

#apresentacao_conteudo{
    padding-top: 5vh;
}

body div{
    padding: 0;
}

#imagem_perfil{
    float: left;
    padding-left: 1vw;
}

#tabela_habilidades{
    float: left;
    padding-left: 1vw;
    color: white;
    text-align: center;
    padding-top:0.5vw;
    font-size: 0.8vw;
}

#tabela_habilidades thead tr{
    font-size: 1vw;
}

#habilidades h2{
    padding-top: 30vh;
    padding-left: 1vw;
    color: white;
}

#botao_proxima_1{
    text-align: center;
    padding: 27vh;
}

#botao_proxima_1 a img{
    height: 5vw;
    width: 5vw;
}

/*--------------*/

/*Segunda seção*/

#formacao{
    background: rgb(7, 0, 70);
    height: 100vh;
    width: 99vw;
}

#logo_unb{
    padding-top: 8vh;
    padding-left: 2vh;
    width: 15vw;
    height: 15vw;
    float: left;
}

#conteudo_formacao div{
    padding: 9vh;
    font-size: 4vh;
}

#botao_proxima_2{
    text-align: center;
    padding: 41vh;

}

#botao_proxima_2 a img{
    height: 5vw;
    width: 5vw;
}

/*--------------*/

/*Terceira seção*/

#experiencia{
    background: rgb(7, 0, 70);
    height: 100vh;
    width: 99vw;
}

#logo_orcestra{
    float: left;
    padding-top: 8vh;
    padding-left: 2vh;
}

#conteudo_experiencia div{
    padding: 8vh;
    font-size: 4vh;
}

#botao_proxima_3{
    text-align: center;
    padding: 42vh; 
}

#botao_proxima_3 a img{
    height: 5vw;
    width: 5vw;
}

/*--------------*/

/*Quarta seção*/

#contato{
    background: rgb(7, 0, 70);
    height: 100vh;
    width: 99vw;
    color: white;
    text-align: center;
}

#logos li{
    display: inline-block;
}

#conteudo_contato{
    padding-top: 10vh;
}

#gostaria{
    padding-top: 5vh;
    font-size: 4vh;
}

#logo_linkedin{
    height: 3.535vh;
    width: 4.00vh;
}

#logo_github{
    height: 4vh;
    width: 4vh;
}

#logo_email{
    height: 4vh;
    width: 4vh;
    float: left;
}

#p_email{
    padding-top: 1vh;
}

#botao_proxima_4{
    text-align: center;
    padding-top: 40vh;
    font-size: 2vh;
}

#botao_proxima_4 a{
    color: white;
    text-decoration: none;
}

#p_feedback{
    padding-top: 6vh;
}

#ultima_parte{
    display: inline;
}

#ultima_parte li{
    display: inline-block;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 5vw;
}

#ultima_parte :first-child{
    float: left;
}

#ultima_parte :last-child{
    float: right;
}

/*--------------*/